path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip*/
/* div.tooltip {
 	position: absolute;
	text-align: left;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px calibri;
	color: navy;
	pointer-events: auto;
} */

/* Tooltip container */
.tooltipBarNL {
    position: relative;
    display: inline-block;
		font: 11px calibri;
}

/* Style for Custom Tooltip*/
.tooltipLineNL {
 	position: absolute;
	text-align: left;
	width: 45px;
	height: 63px;
	padding: 2px;
	font: 12px calibri;
	color: black;
	background: rgba(255, 255, 255, 0.9);
	pointer-events: auto;
}


/* Give axis nice look */
.axis path,
.axis line {
    fill: none;
    stroke: black;
		stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}




/* Style h1 and h2*/
h1
{
	font: 18px calibri;
	font-weight: bold;
	text-align: center;
}

h2
{
	font: 14px calibri;
	text-align: center;
}

p1
{
	font: 14px calibri;
	text-align: center;
}

p2
{
	font: 12px calibri;
	text-align: center;
}


path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.dot {
  stroke: #000;
}

.bar:hover {
  fill: grey;
}

#years-button {
  border: 5px solid powderblue;
  text-align: center;
  font-size: 16px;
}

/* #container-map {
	border: 1px solid powderblue;
}

#container-bar {
	border: 1px solid powderblue;
} */

#container-line{
	border: 1px solid powderblue;
}

#container-line-NL{
	border: 1px solid powderblue;
}

.d3-tip-bars-EU {
 	position: absolute;
	text-align: left;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px calibri;
	color: white;
	pointer-events: auto;
}

#background-black{
	background-color: black;
}

#introduction-EU{
	text-align: center;
	display: inline-block;
}

.title-multi-line{
	font: 18px calibri;
	color: red;
	text-decoration-line: underline;
  position: absolute;
	left: 550px;
	top: 455px;
}
