/*CSS styling for javascript and html, by Ellemijke Donner, 10734198, for final project minor.*/

/*Tooltips for barchart EU, barchart NL, linegraph NL */

.tooltipMapEU{
	position: relative;
	font: 12px calibri;
}

.tooltipBarEU {
    position: relative;
		font: 11px calibri;
}

.tooltipBarNL {
    position: relative;
    display: inline-block;
		font: 11px calibri;
}

.tooltipLineNL {
 	position: absolute;
	text-align: left;
	width: 45px;
	height: 63px;
	padding: 2px;
	font: 12px calibri;
	color: black;
	background: rgba(255, 255, 255, 0.9);
	pointer-events: auto;
}

/* Set titles and text for graphs*/
.title-multi-line{
	font: 18px calibri;
	font-weight: bold;
}

.title-normal{
	font: 16px calibri;
	font-weight: bold;
	color: black;
	text-align: center;
}

.graph-text{
	font: 10px calibri;
	text-align: center;
}

/* Axis styles for all the graphs */

.axis path,
.axis line {
    fill: none;
    stroke: black;
		stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    font: 11px calibri;
}


/* Styling of titles and paragraphs*/

h1
{
	font: 18px calibri;
	font-weight: bold;
	text-align: center;
}

h2
{
	font: 14px calibri;
	text-align: center;
}

p1
{
	font: 14px calibri;
	text-align: center;
}

p2
{
	font: 12px calibri;
	text-align: center;
}

/* Styling for line graphs */
path {
    stroke: rgb(67,147,195);
    stroke-width: 2;
    fill: none;
}

.dot {
  stroke: #000;
}

/* styling barcharts */
.bar:hover {
  opacity: 0.3;
}

/* style for button */
#years-button {
  border: 5px solid powderblue;
  text-align: center;
  font-size: 16px;
}

/*placing of containers*/

#introduction-EU{
	text-align: center;
	display: inline-block;
}
